**/node_modules
**/dist
**/*.tgz
**/*.log
**/coverage

**/.env
**/.env.*

**/*.pem
**/*.key
**/*.crt
**/*.p12
**/*.pfx

**/.git
**/.gitignore
**/.github

**/.claude
**/.local
**/CLAUDE.md

**/test
**/docs
**/*.md
!**/README.md
